# --- DB ---
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/app_db

# --- Blogs S3 (Localstack Blogs) ---
BLOGS_AWS_ACCESS_KEY_ID=test
BLOGS_AWS_SECRET_ACCESS_KEY=test
BLOGS_AWS_DEFAULT_REGION=us-east-1
BLOGS_S3_ENDPOINT_URL=http://localstack:4566
BLOGS_S3_BUCKET=my-bucket

# --- Career S3 (Localstack Career) ---
CAREER_AWS_ACCESS_KEY_ID=test
CAREER_AWS_SECRET_ACCESS_KEY=test
CAREER_AWS_REGION=us-east-1
CAREER_S3_ENDPOINT_URL=http://localstack:4566
CAREER_S3_BUCKET=my-career-bucket
